@media screen and (max-width: 1020px) {
  #navigation, #header, #content, #footer {
    float: none;
    width: auto;
  }
	body {
		font-size: 3em;
	}
}

div.navigation ul {
	list-style: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;	
}

div.navigation ul li {
	float: left;
}

div.navigation ul li.right {
	float: right;
}

div.navigation ul li.active {
	border-bottom: 3px solid white;
}


div.navigation ul li a {
	display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

div.navigation ul li a:hover {
    background-color: #111111;
}

#nav_wrapper ul {
	width: 100%;
}
#symbolcontainer {
	width: 280px;
}
#symbolcontainer img {
	float: left;
}
#ticker {
	padding: 0.5em;
}
#symbol {
	padding-left: 20px;
}
div#ticker.price.green {
	color: green;
}
div#ticker.price.red {
	color: red;
}
div.profit {
	margin-bottom: 0.5em;
}
td.number.green {
	color: green;
}
td.number.red {
	color: red;
}
p.status.waiting {
	color: blue;
}

span.status.propose_buy {
	color: green;
}

span.status.propose_buy {
	color: red;
}

body {
	font-family: 'Arial',"Microsoft YaHei", sans-serif;
}

table.orders td {
	padding: 0 5px;
}

table.orders tr.sell, table.tasks tr.inactive {
	color: red;
}
table.orders tr.buy, table.tasks tr.active {
	color: green;
}
table.orders tr.count1 {
	background: PapayaWhip;
}
table.orders th {
	background: #eeeeee;
}

td.number {
	text-align: right;
}
	
p.price {
	font-weight: bold;
}

table.balances th {
	background: #eeeeee;
}

table.balances td {
	padding: 0 5px;
}

table.balances td.free {
	text-align: right;
}
table.balances td.locked {
	text-align: right;
}
table.balances td.value {
	text-align: right;
}
.login, .error {
	margin-top: -5em;
	margin-left: -10em;
	position: absolute;
	top: 50%;
	left: 50%;
    width: 20em;
    height: 9em;
    border: 2px solid;
    padding: 10px;
    background-color:Lightgray;
    filter:alpha(opacity=70);
    opacity:0.7;
}
.login form {
	margin-top: 1em;
}

.form {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 10px;
    background-color: #eeeeee;
}
.form form textarea {
	width: 500px;
}
div.info {
	margin: 1em;
}

td.label {
	text-align: right;
}

input.submit-buy, input.activate {
	background: green;
	color: white;
	font-weight: bold;
	font-size: 16px;
	width: 150px;
	height: 40px;
}
input.input-price {
	font-weight: bold;
	font-size: 16px;
	width: 150px;
	padding: 7px;
}

input.input-quantity {
	font-weight: bold;
	font-size: 16px;
	width: 60px;
	padding: 7px;
}

input.submit-sell, input.deactivate {
	background: red;
	color: black;
	font-weight: bold;
	font-size: 16px;
	width: 150px;
	height: 40px;
}
input.refresh {
	background: blue;
	color: white;
	font-weight: bold;
	font-size: 16px;
	width: 150px;
	height: 40px;
}

h3 {
	width: 20em;
}

h3 form {
	float: right;
}

#winbuy,#winsell {
	width: 500px;
}

#tradedatacontainer {
	float: left;
}
#chartcontainer {
	padding: 10px;
	border: 1px solid grey;
	height: 500px;
	width: 700px;
	float: right;
}
#ordercontainer {
	float: none;
}
