@media screen and (max-width: 1020px) {
	body {
		font-size: 3vw;
	}
	.hidemobile {
		display: none;
	}
	.hidedesktop {
		display: block !important;
	}
	h3 {
		width: 90vw !important;
	}
	input.submit {
		font-weight: bold;
		font-size: 4vw;
		background: orange;
		width: 18vw;
		height: 6vw;
	}
	input.refresh, input.buy, input.activate, input.sell, input.deactivate {
		width: 30vw !important;
		height: 8vw !important;
	}
	input.input-price {
		font-weight: bold;
		font-size: 4vw !important;
		width: 17vw !important;
		padding: 7px;
	}
	input.input-quantity {
		font-weight: bold;
		font-size: 4vw !important;
		width: 10vw !important;
		padding: 7px;
	}
	#username, #password {
		width: 38vw;
	}
	input, select, option {
		font-size: 4vw;
		margin: 0.1em;
		background: #F0F0F0;
	}
	div.login, div.error {
	    width: 60vw;
	    height: 32vw;
	}
	
	#chart, #chartcontainer {
		height: 80vw !important;
		width: 90vw !important;
	}
	
}

div.navigation ul {
	list-style: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;	
}

div.navigation ul li {
	float: left;
}

div.navigation ul li.right {
	float: right;
}

div.navigation ul li.active {
	border-bottom: 3px solid white;
}


div.navigation ul li a {
	display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

div.navigation ul li a:hover {
    background-color: #111111;
}

#nav_wrapper ul {
	width: 100%;
}
#symbolcontainer {
	width: 20vw;
}
#symbolcontainer img {
	float: left;
}
#ticker {
	padding: 0.5em;
	width: 50vw;
}
#symbol {
	padding-left: 20px;
}
div#ticker.price.green {
	color: green;
}
div#ticker.price.red {
	color: red;
}
div.profit {
	margin-bottom: 0.5em;
}
td.number.green {
	color: green;
}
td.number.red {
	color: red;
}
p.status.waiting {
	color: blue;
}

span.status.propose_buy {
	color: green;
}

span.status.propose_buy {
	color: red;
}

body {
	font-family: 'Arial',"Microsoft YaHei", sans-serif;
}

table.orders td {
	padding: 0 5px;
}

table.orders tr.sell, table.tasks tr.inactive {
	color: red;
}
table.orders tr.buy, table.tasks tr.active {
	color: green;
}
table.orders tr.count1 {
	background: PapayaWhip;
}
th {
	background: #eeeeee;
}

td.number {
	text-align: right;
}
	
p.price {
	font-weight: bold;
}

table.balances th {
	background: #eeeeee;
}

table.balances td {
	padding: 0 5px;
}

table.balances td.free {
	text-align: right;
}
table.balances td.locked {
	text-align: right;
}
table.balances td.value {
	text-align: right;
}
.login, .error {
	margin-top: -5em;
	margin-left: -10em;
	position: absolute;
	top: 50%;
	left: 50%;
    width: 20em;
    height: 9em;
    border: 2px solid;
    padding: 10px;
    background-color:Lightgray;
    filter:alpha(opacity=70);
    opacity:0.7;
}
.login form {
	margin-top: 1em;
}

.form {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 10px;
    background-color: #eeeeee;
}
.form form textarea {
	width: 20em;
}
div.info {
	margin: 1em;
}

td.label {
	text-align: right;
}

input.submit-buy, input.activate {
	background: green;
	color: white;
	font-weight: bold;
	width: 200px;
	height: 50px;
}
input.submit-sell, input.deactivate {
	background: red;
	color: black;
	font-weight: bold;
	width: 200px;
	height: 50px;
}
input.refresh {
	background: blue;
	color: white;
	font-weight: bold;
	width: 200px;
	height: 50px;
}
input.input-price {
	font-weight: bold;
	font-size: 1vw;
	width: 80px;
	padding: 7px;
}

input.input-quantity {
	font-weight: bold;
	font-size: 1vw;
	width: 40px;
	padding: 7px;
}

h3 {
	width: 35vw;
}

h3 form {
	float: right;
}

#winbuy,#winsell {
	width: 420px;
}

#tradedatacontainer, #datachartscontainer, #ordercontainer {
	float: left;
}
#chart {
	position: relative;
	height: 400px;
	width: 750px;
	float: left;
	padding: 0.5em;
}
#chartselect {
	position: absolute;
	right: 1.5em;
	z-index: 10;
	padding: 0.5em;
}
#chartcontainer {
	padding: 10px;
	border: 1px solid grey;
	height: 400px;
	width: 750px;
	/*
	float: right;
	*/
}

#chartselect ul {
	list-style: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

#chartselect ul li {
	float: left;
}

#chartselect ul li.right {
	float: right;
}

#chartselect ul li.active {
	border-bottom: 3px solid rgb(69, 69, 69);
}


#chartselect ul li a {
	display: block;
    color: rgb(69, 69, 69);
    text-align: center;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-decoration: none;
}

#chartselect ul li a:hover {
	border-bottom: 3px solid rgb(69, 69, 69);
}

.hidedesktop {
	display: none;
}

tbody tr:nth-child(odd) {
   background-color: #ddd;
}
tbody tr:nth-child(even) {
   background-color: #f8f8f8;
}