<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="'MarketMaker - ' + ${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"/>
    <script src="/js/scripts.js"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
<body>
<div th:fragment="chart" id="chart">
<div id="chartselect"><a href="#">1h</a> <a href="#">4h</a> <a href="#">1d</a> <a href="#">1w</a> <a href="#">1m</a></div>
<div id="chartcontainer"></div>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var symbol = [[${symbol}]];
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(initChart);
	
    var chart; 

    function initChart() {
    		chart = new google.visualization.CandlestickChart(document.getElementById('chartcontainer'));
//		getChart();
		drawChart();
		setInterval(getChart, 10000);
		setInterval(drawChart, 10000);
	}

  	function getChart() {
  		console.log("fetching chart");
		$.get( "/public/chart.js?symbol=" + symbol, function( data, textStatus, jqxhr ) {
			  $("#chartscript").replaceWith(data);
		});
  	}
    function drawChart() {
	    console.log("drawing");
	    var data = google.visualization.arrayToDataTable(	dataArr, true);
	    var options = {
	    	      legend:'none',
	    	    	  bar: { groupWidth: '80%' }, // Remove space between bars.
	    	    	  crosshair: { trigger: 'focus' },
	    	    	  chartArea:{left:60,top:20,width:'90%',height:'90%'},
	    	    	  hAxis: {
	    	    		  minorGridlines: {count: 1},
	    	    		  showTextEvery: 10,
	    	    	  }, 
	    	      candlestick: {
	    	            fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
	    	            risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
	    	          }
	    	    	  };
	    	 chart.draw(data, options);
    }

	/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript" id="chartscript">

      /*<![CDATA[*/
    	var dataArr = [[${chartData}]]
    
	/*]]>*/
</script> </div>

</body>
</html>