<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="'MarketMaker - ' + ${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"/>
    <script src="/js/scripts.js"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
<body>
<div th:fragment="chart" id="chart">
<div id="chartselect">
	<ul>
		<li id="hint" class="active"><a href="#" onclick='return setHourInterval()'>1h</a></li>
		<li id="h8int"><a href="#" onclick='return set8HourInterval()'>8h</a></li>
		<li id="dint"><a href="#" onclick='return setDayInterval()'>1d</a></li>
		<li id="wint"><a href="#" onclick='return setWeekInterval()'>1w</a></li>
		<li id="mint"><a href="#" onclick='return setMonthInterval()'>1m</a></li>
	</ul></div>
<div id="chartcontainer"></div>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var symbol = [[${symbol}]];
	var interval = [[${interval}]];
    var chartWithLimit = [[${withLimit}]];
    var tradePrice = [[${tradePrice}]];
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(initChart);
	
    var chart; 

    function initChart() {
    		chart = new google.visualization.ComboChart(document.getElementById('chartcontainer'));
		drawChart();
		setInterval(getChart, 10000);
		setInterval(drawChart, 10000);
	}

  	function getChart() {
  		console.log("fetching chart");
		$.get( "/public/chart.js?symbol=" + symbol + "&interval=" + interval + "&limit=" + tradePrice, function( data, textStatus, jqxhr ) {
			  $("#chartscript").replaceWith(data);
		});
  	}

	/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript" id="chartscript">

      /*<![CDATA[*/
    	var dataArr = [[${chartData}]]
    
	/*]]>*/
</script> </div>

</body>
</html>