<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="'MarketMaker - ' + ${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"/>
    <script src="/js/scripts.js"/>
</head>
<body>
	<div th:fragment="topnavi" class="navigation" id="navigation">
	<div id="nav_wrapper">
	
	<ul>
	<li th:class="${navi=='home' ? ' active' : ''}"><a href="/">Home</a></li>
	<li th:class="${navi=='balances' ? ' active' : ''}"><a href="/balances">Balances</a></li>
	<li th:class="${navi=='orders' ? ' active' : ''}"><a href="/orders">Orders</a></li>
	<li> <!-- placeholder --></li>
	<li class="right" th:if="${#httpServletRequest.remoteUser}"><form id="logout" th:action="@{/logout}" method="post">
            <a href="#" onclick="logout.submit()">Logout</a>
        </form></li>
	<li th:class="${'right' + (navi=='profile' ? ' active' : '')}" th:if="${#httpServletRequest.remoteUser}"><a href="/profile" th:text="${#httpServletRequest.remoteUser}">Account</a></li>
	</ul>
	</div>
	
	<script th:inline="javascript" id="notificationscript">

      /*<![CDATA[*/
	var lastupdate = new Date().getTime();
	var nrNotifications = 0;
	/*]]>*/
	</script>
	<script th:inline="javascript">
	
	$(document).ready(function() {
		setInterval(getNotifications, 10000);
	});
	</script> 
	</div>

</body>
</html>