<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/navigation :: head (pageTitle='Balances')"/>
<body>
	<div th:replace="include/navigation :: topnavi (navi='balances')"></div>

    <h3>Balances <form id="coinselect"><select name="basecoin" onchange="coinselect.submit()">
    		<option th:selected="${symbol2 == 'BTC'}">BTC</option>
    		<option th:selected="${symbol2 == 'ETH'}">ETH</option>
    		<option th:selected="${symbol2 == 'USDT'}">USDT</option>
    </select></form></h3>
    <table class="balances">
      <tr>
      	<th> </th>
        <th>Symbol</th>
        <th>free</th>
        <th>locked</th>
        <th th:text="'Value (' + ${symbol2} + ')'"></th>
      </tr>
      <tr th:each="balance : ${balances}">
      	<td><img th:src="${'/img/icon/' + #strings.toLowerCase(balance.asset) + '.png'}" /></td>
        <td class="symbol" th:text="${balance.asset}">ETH</td>
        <td class="free" th:text="${#numbers.formatDecimal(balance.free,1,8)}">0.414343</td>
        <td class="locked" th:text="${#numbers.formatDecimal(balance.locked,1,8)}">2.414344</td>
        <td th:if="${balance.value}" class="value" th:text="${#numbers.formatDecimal(balance.value,1,8)}">2.414344ETH</td>
        <td th:if="${balance.value}"><form action="/trade" method="post"><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        		<input type="hidden" name="symbol" th:value="${balance.asset + symbol2}"/>
        		<input type="submit" name="trade" class="submit" value="Trade"/></form></td>
        	
      </tr>
    </table>

</body>
</html>