<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MarketMaker - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    	<div th:replace="include/navigation :: topnavi"></div>
    
    <div class="error">
	<p th:if="${errormsg1}" th:text="${errormsg}">
	    Invalid username and password.
	</p>
	<p th:if="${errormsg2}" th:text="${errormsg2}">
	    Please contact the administrator!
	</p>
	<p th:if="${error}" th:text="${error}">
	    Invalid username and password.
	</p>
	<p th:if="${message}" th:text="message">
	    Invalid username and password.
	</p>
	</div>
</body>
</html>
