<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/navigation :: head (pageTitle='Login')"/>
<body>
    	<div th:replace="include/navigation :: topnavi"></div>
    
    <div class="login">
	<div th:if="${param.error}">
	    Invalid username and password.
	</div>
	<div th:if="${param.logout}">
	    You have been logged out.
	</div>
	<form th:action="@{/login}" method="post">
		<table>
	    <tr><td class="label"><label for="username"> User Name: </label></td><td><input type="text" name="username" id="username"/></td></tr>
	    <tr><td class="label"><label for="password"> Password: </label></td><td><input type="password" name="password"/> </td></tr>
	    <tr><td> </td><td colspan="2"><input type="submit" value="Sign In"/></td></tr>
	    <tr style="height:2em"><td class="label"> New? </td><td colspan="2"><a href="/register">Create Account...</a></td></tr>
	    </table>
	</form>
	</div>
</body>
</html>
